
/* Apps */
.drivebuttons {
    display: inline;
    /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
    /*gap: .5rem;*/
    padding: 0 10px;
}

.drivebutton {
    width: 61%;
    margin: 68px 9px 0px 65px;
    background: #d9f1fb;
    margin-top: 157px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #b2e9fb;
    height: 18px;
    padding: 19px 1px 3%;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px lightblue;

}
.drivingupload-section{
    margin: 50px 0px 0px 83px;
}
.language-btn{
    cursor: pointer;
}
.drivebutton-title {
    color: #1f4287;
    font-size: 18px;
    margin-bottom: 27px;

}
.app:hover{
    background-color: #aeddff;
    border-radius: 20px;
    border: 1px solid #aeddff;

}
/* Welcome */
.drivinglicense-container {
    padding: 25px 10px;
}

.vehicle-name {
    font-family: "Lato", serif;
    color: #656565;
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
}

.vehicle-subtitle {
    font-family: "Lato", serif;
    color: #656565;
    font-size: 18px;
    margin: 14px 0px 13px 0px;
    font-weight: bolder;
}

.vehicle-instruction {
    font-family: "Lato", serif;
    color: #858383;
    font-size: 16px;
    margin: 10px 0 0;
}
.active-tab-link {
    border-color: rgba(59, 130, 246, 1);
}

.drivingspinner {
    height: 25px;
    width: 25px;
    margin: 0 auto 0 auto;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #58a3df;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}
.drivingspinner,
.drivingspinner:after {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    display: block;
    position: absolute;
    top: 450px;
    margin-top: -4.05em;
}
/* TODO Add vendor prefixes if you need them */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}
@media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .drivinglicense-container {
        padding: 26px 89px;
    }
    .drivebutton{
        margin: 163px 0px 30px 91px;
    }
    .drivingupload-section {
        margin: 50px 0px 0px 153px;
    }

}
@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .drivinglicense-container {
        padding: 26px 166px;
    }

    .drivebutton {
        margin: 9px 0px 27px 125px;
    }
    .drivingupload-section {
        margin: 0px 2px 60px 222px;
    }
}
@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .drivinglicense-container {
        padding: 100px 325px;
    }

    .drivebutton {
        margin: 9px 0px 27px 190px;
    }
    .drivingupload-section {
        margin: -50px 0px 50px 383px;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .drivinglicense-container {
        padding: 100px 357px;
    }

    .drivebutton {
        margin: 9px 0px 27px 200px;
    }
    .drivingupload-section {
        margin: 0px 0px 50px 421px;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    .drivinglicense-container {
        padding: 150px 460px;
    }
    .drivebutton{
        margin: 9px 0px 27px 243px;
    }
    .drivingupload-section {
        margin: -50px 1px 50px 525px;
    }

}
@media (min-width:350px) { /* hi-res laptops and desktops */
    .drivinglicense-container {
        padding:50px 53px;
    }
    .drivebutton{
        margin: 138px 0px 27px 74px;
    }
    .drivingupload-section {
        margin: 5px 1px 50px 117px;
    }

}