
/* Apps */
.apps {
    display: inline;
    /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
    /*gap: .5rem;*/
    padding: 0 10px;
}

.app {
    background: #d9f1fb;
    margin-bottom: 3vh;
    display: flex;
    border-radius: 20px;
    border: 1px solid #b2e9fb;
    height: 18px;
    padding: 19px 1px 3%;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px lightblue;

}

.language-btn{
    cursor: pointer;
}
.app-title {
    color: #1f4287;
    font-size: 18px;
    margin-bottom: 27px;

}
.app:hover{
    background-color: #aeddff;
    border-radius: 20px;
    border: 1px solid #aeddff;

}
/* Welcome */
.location-welcome-container {
    padding: 81px 10px
}

.location-heading {
    font-family: "Lato", serif;
    color: #656565;
    font-size: 30px;
    margin: 0px 17px 25px 32px;
    font-weight: bolder;
}
.location-enabled-heading {
    font-family: "Lato", serif;
    color: #656565;
    font-size: 30px;
    margin: 0px 0px 0px 37px;
    font-weight: bolder;
}
.location-subtitle {
    font-family: "Lato", serif;
    color: #656565;
    font-size: 18px;
    margin:14px 0px 13px 54px;
    font-weight: bolder;
}

.welcome-instruction {
    font-family: "Lato", serif;
    color: #858383;
    font-size: 16px;
    margin: 10px 0 0;
}
.active-tab-link {
    border-color: rgba(59, 130, 246, 1);
}

.app-modal {
    width: 264px;
    margin-top: 73px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 35;
    background-color: #e5f7ffeb;
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}


.app-modal-header {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.app-modal-title {
    color: #225b8c;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.app-modal-subtitle {
    color: #225b8c;
    font-size: 12px;
    margin: 10px 0;
}

.upload-button-icon {
    cursor: pointer;
    background: #0171cf;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: white;
}

.upload-button-icon:hover {
    background: #00549c;
}

.upload-progress {
    border-radius: 7px;
    width: 100%;
}
.upload-progress::-webkit-progress-bar {
    background-color: lightgrey;
    border-radius: 7px;
}
.upload-progress::-webkit-progress-value {
    background-color: #01cf71;
    border-radius: 7px;
}
.upload-progress::-moz-progress-bar {
    background-color: yellow;
    border-radius: 7px;
}

.capture-button1 {
    cursor: pointer;
    background: #0171cf;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: 40px;
}

.rotate-camera-button {
    flex: 0.1;
    height: auto;
    padding: 4%;
    margin-left: 0.5rem;
    background: #0171cf;
    border-radius: 9999px;
    font-size: large;
    color: white;
}

.capture-button:active, .rotate-camera-button:active {
    background: #00549c;
}

.capture-button-icon {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: white;
}

.capture-button-text {
    margin-left: 0.5rem;
    color: white;
    font-weight: bold;
}

.app-modal-item-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    margin-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 40vh;
}

.app-modal-item {
    width: auto;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: .25rem;
    border-color: rgba(147, 197, 253, 1);
}

.app-modal-item-thumb {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.app-modal-document-view {
    width: auto;
    height: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

.app-modal-background {
    position: fixed;
    opacity: .25;
    align-self: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    background-color: black;
}
.success-img{
    margin: 11px 0px 0px 104px;
}
.nxt-btn {
    width: 61%;
    background: #d9f1fb;
    display: flex;
    border-radius: 20px;
    border: 1px solid #b2e9fb;
    height: 18px;
    padding: 19px 1px 3%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 0px lightblue;
    margin: 9px 0px 0px 53px;
}
.location-spinner {
    height: 25px;
    width: 25px;
    margin: 0 auto 0 auto;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #58a3df;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;

}
.location-spinner,
.location-spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    display: block;
    position: absolute;
    top: 56%;
    margin-top: 25.95em;
}
/* TODO Add vendor prefixes if you need them */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
}
@media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .location-welcome-container {
        padding: 26px 75px;
    }
    .nxt-btn{
        margin: 9px 0px 27px 90px;

    }

}
@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .location-welcome-container {
        padding: 26px 155px;
    }

    .nxt-btn {
        margin: 9px 0px 27px 125px;

    }
}
@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .location-welcome-container {
        padding: 100px 315px;
    }

    .nxt-btn {
        margin: 9px 0px 27px 190px;

    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .location-welcome-container {
        padding: 100px 335px;
    }

    .nxt-btn {
        margin: 9px 0px 27px 200px;

    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    .location-welcome-container {
        padding: 150px 470px;
    }
    .nxt-btn{
        margin: 9px 0px 27px 243px;

    }

}
@media (min-width:390px) { /* hi-res laptops and desktops */
    .location-welcome-container {
        padding: 50px 41px;
    }
    .nxt-btn{
        margin: 217px 0px 27px 74px;
    }

}