body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-dimension {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("background2.jpg");
  background-size: 600px 800px;
}
@media screen and (max-width: 530px) {

  .app-dimension{
    width: 100%;
  }
}
@media screen and (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

  .app-dimension {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-image: url("background2.jpg");
    background-size: 600px 800px;
  }
}
@media (min-width:481px)  {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .app-dimension {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background-image: url("background2.jpg");
    background-size: 600px 800px;
  }

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }